<!DOCTYPE html>
<html>
<head>
  <title>Tom Lowndes - Creative Designer</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <%= link_to "Tom Lowndes", root_path, class: "name" %>
    <nav>
      <%= link_to "Articles", posts_path %>
     <a href="#">Projects</a>
     <a href="#">Contact</a>
    </nav>
  </header>

  <%= yield %>

<footer id="main_footer">

    <nav>
      <a href="http://twitter.com/tom_lowndes" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href=""><i class="fa fa-dribbble" target="_blank"></i></a>
      <a href=""><i class="fa fa-reddit-alien" target="_blank"></i></a>
    </nav>
</footer>
</body>
</html>
